#header, header.main-nav {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
body.layout-admin.layout-padded .aside-start {
    margin-top: 60px;
}
